
      input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F3F5F6;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
	padding: 5px 5px 5px 5px;
      }

       input[type=password] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F3F5F6;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
      }

      button[type=button]{
    width: 115px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color:white;
    background-color: #546E7A;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 14px 8px 14px;
  }
   input[type=submit]{
    width: 115px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color:white;
    background-color: #546E7A;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 14px 8px 14px;
  }

   button[type=submit]{
    width: 115px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color:white;
    background-color: #546E7A;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 14px 8px 14px;
  }